[submodule "java"]
	path = java
	url = https://github.com/chemaduran/ejercicios-java
[submodule "alumnos/sebastian_bermudez"]
	path = alumnos/sebastian_bermudez
	url = https://github.com/sebasbermuher/Programacion2020-21
[submodule "alumnos/ricardo_chimborazo"]
	path = alumnos/ricardo_chimborazo
	url = https://github.com/ricardo121/DAW_Programacion.git
[submodule "alumnos/rafael_ortega"]
	path = alumnos/rafael_ortega
	url = https://github.com/rortega-iesalixar/programacion
[submodule "java_nuevo"]
	path = java_nuevo
	url = git@github.com:chemaduran/ejercicios-java.git
	branch = master
[submodule "alumnos/alvaro_gil"]
	path = alumnos/alvaro_gil
	url = https://github.com/agilg00/Programacion_DAW2021.git
	branch = master
