[submodule "java"]
	path = java
	url = https://github.com/chemaduran/ejercicios-java
[submodule "alumnos/rafa_gomez"]
	path = alumnos/rafa_gomez
	url = https://github.com/rafgomort/Programacion20-21
[submodule "alumnos/sebastian_bermudez"]
	path = alumnos/sebastian_bermudez
	url = https://github.com/sebasbermuher/Programacion2020-21
[submodule "alumnos/luis_arroyo"]
	path = alumnos/luis_arroyo
	url = https://github.com/LuisArroyoCaballero/programacion_daw1
[submodule "alumnos/ricardo_chimborazo"]
	path = alumnos/ricardo_chimborazo
	url = https://github.com/ricardo121/DAW_Programacion.git
[submodule "alumnos/miguel_castro"]
	path = alumnos/miguel_castro
	url = https://github.com/miguelcastro8/programacion.git
[submodule "alumnos/rafael_ortega"]
	path = alumnos/rafael_ortega
	url = https://github.com/rortega-iesalixar/programacion
[submodule "alumnos/manuel_colchero"]
	path = alumnos/manuel_colchero
	url = https://github.com/mcolchero/PROGRAMACION.git
[submodule "java_nuevo"]
	path = java_nuevo
	url = git@github.com:chemaduran/ejercicios-java.git
	branch = master
[submodule "alumnos/alvaro_gil"]
	path = alumnos/alvaro_gil
	url = https://github.com/agilg00/Programacion_DAW2021.git
	branch = master
